.card {
    opacity: 0;
}

.card_placeholder {
    height: 280px;
    animation:image_loading 1s linear infinite alternate;
}

@keyframes image_loading {
        0% {
            background-color: hsl(200, 20%, 80%);
        }
        100%{
            background-color: hsl(200, 20%, 95%);
        }
}